
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #fefefe;
    background-image: linear-gradient(to bottom, #e1e1e1, #d2d2d2);
  }
  
  .hotel-header {
    width: 100%;
    padding: 0px;
    background-color: #1a1a1a;
    color: white;
    padding-left: 40px;
    text-align: left;
  }